
body {
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAC5iamnzsoXTpGxMPxJKAR7KL0wITThn2CcoMNYLRhiHTY0jk");
  }
  
  
  .container {
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
  }
  
  .usermovie {
      display: inline-block;
      margin: 10px;
  }
  
  button.movie {
      border-radius: 12px;
      background-color: gold;
      color: black;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      font-size: 12px;
      margin: 10px 5px 0;
  }
  
  #movie-form {
      margin: 10px 0;
      color: gold
  }
  
  #addmovie {
      border-radius: 12px;
      background-color: gold;
      color: black;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      font-size: 12px;
      margin: 5px 0;
  }
  
  
